@import 'variables';
@import 'header';
@import 'slider';
@import 'catalog';
@import 'spinner';
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

a,
button {
    cursor: pointer;
}

button {
    background: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.wrapper {
    max-width: 1120px;
    margin: 0 auto;
}