@import 'variables';

header {
    height: 116px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: $text-color-active;
    }

    ul {
        display: flex;
        text-transform: uppercase;
        list-style: none;

        li {
            margin-right: 40px;
        }

        li:last-child {
            margin-right: 0px;
        }
    }

    nav {
        justify-self: center;

        .header-navigation-pages {
            li {
                font-style: normal;
                font-weight: 700;
                font-size: 10px;
                line-height: 12px;
                color: $text-color;
                margin-right: 40px;
            }
            .active {
                    font-weight: 900;
                    color: $text-color-active;
                }
        }
    }

    .test {
        width: 17px;
        height: 17px;
        position: relative;
    }

    .books-in-card {
        position: relative;
        z-index: 10;
        margin-left: 5px;
        margin-top: -12px;
        height: 13px;
        width: 13px;
        background-color: #FF353A;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        text-transform: capitalize;
        color: white;
    }

}